<p>sign-up works!</p>

<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

    <label for="">Name::</label>
    <input type="text" formControlName="name" name="name" id="name" placeholder="your name" /> 

    <label for="email">Email:</label>
    <input type="text" formControlName="email" name="email" id="email" placeholder="your email" /> 

    <label for="password">Password:</label>
    <input type="password" formControlName="password" name="password" id="password" placeholder="your password" /> 
    
    <label for="role">Role:</label>
    <!-- תיבת טקסט נעולה -->
    <input 
      type="text" 
      formControlName="role" 
      name="role"
      id="role" 
      placeholder="your role" 

    />
    <!-- class="form-control" 
    readonly  -->

    <!-- רשימת תפקידים נגללת -->
    <!-- <div class="role-dropdown">
      @for (role of userRoles; track role) {
        <div 
          class="role-option" 
          (click)="selectRole(role)"
        >
          {{ role }}
        </div>
      }
    </div> -->

    @if (f['role'] && f['role'].errors && f['role'].touched) {
      @if (f['role'].errors['required']) {
        <div class="error-message">role is required</div>
      }
    }
  
    @if (f['name'] && f['name'].errors && f['name'].touched) {
        @if (f['name'].errors['required']) {
          <div class="error-message">name is required</div>
        }
      }
  
    @if (f['email'] && f['email'].errors && f['email'].touched) {
        @if (f['email'].errors['required']) {
            <div>email is required</div>
        }
        @if (f['email'].errors['email']) {
            <div>email must be a valid email address</div>
        }
    }

    @if (f['password'] && f['password'].errors && f['password'].touched) {
        @if (f['password'].errors['required']) {
            <div>Password is required</div>
        }
        @if (f['password'].errors['minlength']) {
            <div>Password must be at least 6 characters</div>
        }
    }

    <button type="submit">Sign up</button>
</form>
